head {
  margin: 10px;
}

.btn-primary {
  transition: background-color 0.3s;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: royalblue;
}

header {
  padding: 1.5em;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#button-container {
  display: flex;
  flex-direction: column;
}

.buttons {
  margin: 5px;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(1, 80, 145),
    rgb(10, 131, 161)
  );
  font-family: Helvetica, sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  height: 10%;
  padding: 1.5em;
}

.logo {
  color: black;
  height: 50px;
  width: 50px;
}

object {
  pointer-events: none;
}

/* Icon */

.icon {
  font-size: 48px;
  margin: 0.1em;
  color: white;
  transition: color 0.3s;
}

.icon:hover {
  color: skyblue;
  text-decoration: none;
}

.feedback {
  text-align: right;
}

.devpost {
  color: rgb(179, 174, 174);
  transition: color 0.3s;
}

.devpost:hover {
  color: white;
  text-decoration: none;
}
